/* 320px and 480px*/
@media (min-width:320px) and (max-width:480px){
.header{width:96%;
height:140px;
position:relative;
left:0px;}
.ccn-uni-logo{width:80px;
height:70px;
position:absolute;
top:25px;
left:10px;
}
.header h5{position:absolute;
top:65%;
left:5px;
font-size:8px;
color:black;
}
.title-name1{position:absolute;
top:5%;
left:24%;
font-size:14px;
color:white;
padding:0px;
margin:0px;
text-shadow:0px 5px 10px black;
}
.title-name2{position:absolute;
top:23%;
left:34%;
color:white;
padding:0px;
margin:0px;
font-size:25px;
text-shadow:0px 5px 10px black;
}
.title-name3{position:absolute;
top:50%;
left:40%;
color:black;
padding:0px;
margin:0px;
font-size:12px;
text-shadow:0px 5px 10px black;
z-index:5;
}

.title-pic1{position: absolute;
top: 100px;
left: 42%;
width: 45px;
height: 18px;
transform: skew(65deg,-34deg);
box-shadow:2px 3px 10px black;
opacity:.8;
z-index:2;
}
.title-pic2{position: absolute;
top: 100px;
left: 60%;
width: 45px;
height: 18px;
transform: skew(65deg,-34deg);
box-shadow:2px 3px 10px black;
opacity:.8;
z-index:2;
}
.title-pic3{position: absolute;
top: 100px;
left: 78%;
width: 45px;
height: 18px;
transform: skew(65deg,-34deg);
box-shadow:2px 3px 10px black;
opacity:.8;
z-index:2;}
	#all-menu {position:absolute;
top:0px;
left:0%;
display:block;
margin:10px; 
z-index:1000;}
.main-menu li a{border:1px solid black;
float:left;
width:98%;
height:25px;
padding-top:0px;
padding-bottom:0px;
padding-left:10px;
padding-right:0px;
font-size:16px;
color:black;
background: -webkit-linear-gradient(left,white,green);
text-decoration:none;
text-align:left;
border-radius:10px;}