*{margin:0px;padding:0px;list-style:none;}
h1,h2,h3,h4,h5,h6{
	margin-top:10px;
	margin-bottom:10px;
	font-weight:normal;
}
a{
	text-decoration:none;
}
p{
	line-height:150%;
	margin-bottom:2em;
}
body{
	
}
.full_container{
	width:100%;
}
.fix{
	overflow:hidden;
}
.container{
	width:1170px;
	margin:0 auto;
	background:url("../img/container_bg1.png")repeat-y;
	display:cover;
	display:block;
	opacity:0.8;
}
/*--------------------*/

.header_bg{
	background:#F3F5F5;
}
header{
	overflow:hidden;
	display:block;
}
header h1{
	font-size:35.88px;
	color:#454547;
	background:url("../img/header_logo.png")no-repeat;
	padding:20px;
	padding-left:60px;
	background-position:left center;
	float:left;
}
header nav{
	float:right;
	overflow:hidden;
	margin-right:70px;
}
header nav ul li{
	float:left;
}
header nav ul li a{
	display:block;
	padding:45px 15px;
	color:#454547;
	font-size:14px;
}
header nav ul li a:hover{
	color:#ffffff;
	background:#13B898;
}
#first_section_bg{
	overflow:hidden;
	display:block;
	background:url("../img/first_section_bg.png")no-repeat;
	background-size:100% 100%;
	background-position:center center;
	
}
#first_section{
	overflow:hidden;
	display:block;
	padding:20px 0px;
	
}
#first_section .top{
	padding-top: 46px;
padding-bottom: 98px;
	overflow:hidden;
	display:block;
	padding:
}
#first_section .top h1{
	font-size:72px;
	color:#0cbf86;
	text-align:center;
	display:block;
	margin:30px;
	padding:0px;
}
#first_section .top h2{
	font-size:72px;
	color:#454547;
	text-align:center;
	display:block;
	margin:0px;
	padding:0px;
}
#first_section .top p{
	font-size:14px;
	margin:10px 170px;
	color:#5f5f5f;
	text-align:center;
	display:block;
}

#first_section .top a{
	font-size:25px;
	color:#13B898;
	padding:10px 60px;
	margin:20px;
	
	display:inline-block;
	border-radius:25px;
	float:center;
	border:2px solid #0CBF86;
}
#first_section .top a:hover{
	background:#13B898;
	color:#ffffff;
}
#first_section .top .left{
	margin-right:45px;
}
#first_section .top .right{
	margin-left:45px;
}
#first_section .down{
	overflow:hidden;
	margin-bottom:40px;
	padding-top:40px;
	padding-bottom:40px;
}
#first_section .down center a{
	overflow:hidden;
	border-radius:50%;
}
#first_section .down center a img{
	border-radius:50%;
	display:inline-block;
}
.about_img{
	overflow:hidden;
	display:block;
	background:url("../img/second_section_bg3.png");background-repeat:no-repeat;
	background-size:100% 100%;
}
.about_us_section{
	padding:0px;
	display:black;
	overflow:hidden;
}
.about_us_section .top_about{
	border-left:2px solid #13B898;
	overflow:hidden;
	display:block;
	padding-left:20px;
	margin-bottom:90px;
}
.about_us_section .top_about h2{
	font-size:48px;
	color:#0cbf86;
	margin:0px;
}
.about_us_section .top_about p{
	font-size:18px;
	color:#454547;
	margin:5px 0px;
}
.about_us_section .down_about{
	width:55%;
	overflow:hidden;
}
.about_us_section .down_about h2{
	font-size:30px;
	color:#3d3d3e;
	margin-top:30px;
}
.about_us_section .down_about p{
	font-size:15px;
	color:#6d6d6d;
	padding-top:20px;
}
.about_us_section .down_about h3{
	background:url("../img/mark_icon.png")no-repeat;
	margin-left:3px;
	padding-left:30px;
	background-position:left center;
}
.about_us_section .down_about a{
	font-size:18px;
	color:#fff;
	padding:20px 50px;
	background:#13B898;
	margin-top:40px;
	margin-bottom:90px;
	border-radius:35px;
	float:left;
}
.service_bg{
	background:#F7F7F7;
}
.service_cection{
	padding:55px 0px 40px 0px;
	display:black;
	overflow:hidden;
	
}
.service_cection .top_service{
	border-left:2px solid #13B898;
	overflow:hidden;
	display:block;
	padding-left:20px;
	margin-bottom:90px;
}
.service_cection .top_service h2{
	font-size:48px;
	color:#0cbf86;
	margin:0px;
}
.service_cection .top_service p{
	font-size:18px;
	color:#454547;
	margin:5px 0px;
}
.service_cection .down_service{
	display:block;
	overflow:hidden;
}
.service_cection .down_service .single_service_part{
	width:370px;
	float:left;
	display:block;
	overflow:hidden;
	margin-right:30px;
	background:rgba(255,255,255,.4);
	box-shadow: 0px 4px 13px 0px rgba(89,89,89,.4);
	margin-bottom:30px;
}
.service_cection .down_service .margn_right_zero{
	margin-right:0px;
}
.service_cection .down_service .single_service_part img{
	display:block;
	width:100%;
}
.service_cection .down_service .single_service_part center h2{
	font-size:22px;
	color:#454547;
	margin:30px 0px;
}
.service_cection .down_service .single_service_part center p{
	font-size:15px;
	color:#6d6d6d;
	margin:0px 45px;
}
.service_cection .down_service .single_service_part center a{
	font-size:13px;
	color:#ffffff;
	padding:15px 30px;
	background:#13B898;
	margin:40px 0px;
	border-radius:25px;
	display:inline-block;
}

.service_cection .button_service{
	overflow:hidden;
	display:block;
	width:100%;
	padding:30px 0px;
	margin:10px 0px;
}
.service_cection .button_service center a{
	border-radius:50%;
	margin:10px;
	padding:10px 20px;
}
.service_cection .button_service center .prev{
	background:url("../img/prev.png")no-repeat;
}
.service_cection .button_service center .prev:hover{
	background:url("../img/prev_hover.png")no-repeat;
}
.service_cection .button_service center .next{
	background:url("../img/next.png")no-repeat;
}
.service_cection .button_service center .next:hover{
	background:url("../img/next_hover.png")no-repeat;
}
.counter_bg{
	background:url("../img/couner_bg.png")no-repeat;
	background-size:100% 100%;
}

.counter{
	width:100%;
	display:block;
	overflow:hidden;
	padding:125px 0px;
}
.counter ul{
	
}
.counter ul li{
	float:left;
	width:292.5px;
}
.counter ul li h2{
	text-align:center;
	font-size:60px;
	color:#0cbf86;
}
.counter ul li h3{
	text-align:center;
	font-size:18px;
	color:#0cbf86;
}

.our_fortfolio_bg{
	background:#FFFFFF;
}
.our_fortfolio{
	padding:50px 0px 30px 0px;
	display:black;
	overflow:hidden;
}
.our_fortfolio .top_our_fortfolio{
	border-left:2px solid #13B898;
	overflow:hidden;
	display:block;
	padding-left:20px;
	margin-bottom:90px;
}
.our_fortfolio .top_our_fortfolio h2{
	font-size:48px;
	color:#0cbf86;
	margin:0px;
}
.our_fortfolio .top_our_fortfolio p{
	font-size:18px;
	color:#454547;
	margin:5px 0px;
}
.our_fortfolio ul{
	width:100%;
	display:block;
	overflow:hidden;
}
.our_fortfolio ul li{
	float:left;
}
.our_fortfolio ul li a{
	padding:15px;
	color:#454547;
	font-size:17px;
}
.our_fortfolio ul li a:hover{
	color:#0cbf86;
}
.others_section_bg{
	background:url("../img/others_section_bg.png")no-repeat;
	background-size:100% 100%;
	overflow:hidden;
	width:1170px;
	margin:0 auto;
}
.others_section{
	margin:300px 200px;
}
.others_section h2{
	text-align:center;
	font-size:20px;
	color:#fff;
}
.others_section p{
	text-align:center;
	font-size:15px;
	color:#fff;
}
.others_section a{
	padding:8px 15px;
	color:#0cbf86;
	font-size:13px;
	text-align:center;
	margin:0 auto;
	display:inline-block;
	background:#fff;
	border-radius:25px;
}
.others_section a:hover{
	color:#fff;
	background:#0cbf86;
}
.vidwo_bg{
	background:url("../img/video_bg.png")no-repeat;
	background-size:100% 100%;
}
.video{
	display:block;
	overflow:hidden;
	margin:170px 0px;
	padding:20px 0px;
}
.our_team_bg{
	background:#FFFFFF;
}
.our_team{
	padding:50px 0px 30px 0px;
	display:black;
	overflow:hidden;
}
.our_team .top_our_team{
	border-left:2px solid #13B898;
	overflow:hidden;
	display:block;
	padding-left:20px;
	margin-bottom:90px;
}
.our_team .top_our_team h2{
	font-size:48px;
	color:#0cbf86;
	margin:0px;
}
.our_team .top_our_team p{
	font-size:18px;
	color:#454547;
	margin:5px 0px;
}
.our_team .down_our_team{
	display:block;
	overflow:hidden;
}
.our_team .down_our_team .single_our_team_part{
	width:270px;
	float:left;
	display:block;
	overflow:hidden;
	margin-right:30px;
	background:rgba(255,255,255,.5);
	box-shadow: 0px 4px 13px 0px rgba(89,89,89,.4);
	margin-bottom:30px;
}
.our_team .down_our_team .margn_right_zero{
	margin-right:0px;
}
.our_team .down_our_team .single_our_team_part img{
	display:block;
	margin:0 auto;
	margin-top:30px;
}
.our_team .down_our_team .single_our_team_part center h2{
	font-size:22px;
	color:#454547;
	margin:30px 0px;
	margin-bottom:0px;
}
.our_team .down_our_team .single_our_team_part center h3{
	font-size:14px;
	color:#0cbf86;
	margin:30px 0px;
	margin-top:0px;
}
.our_team .down_our_team .single_our_team_part center p{
	font-size:15px;
	color:#6d6d6d;
	margin:0px 45px;
	margin-bottom:25px;
}
.our_team .down_our_team .button_our_team{
	overflow:hidden;
	display:block;
	width:100%;
	padding:30px 0px;
	margin:10px 0px;
}
.our_team .down_our_team .button_our_team center a{
	border-radius:50%;
	margin:10px;
	padding:10px 20px;
}
.our_team .down_our_team .button_our_team center .prev{
	background:url("../img/prev.png")no-repeat;
}



.our_team .down_our_team .button_our_team center .prev:hover{
	background:url("../img/prev_hover.png")no-repeat;
}
.our_team .down_our_team .button_our_team center .next{
	background:url("../img/next.png")no-repeat;
}
.our_team .down_our_team .button_our_team center .next:hover{
	background:url("../img/next_hover.png")no-repeat;
}
.our_team .down_our_team .dificult{
	background:rgba(12,191,134,0.7);
	box-shadow: 0px 4px 13px 0px rgba(118,219,186,1);
}
.our_team .down_our_team .dificult center h2{
	color:#fff;
}
.our_team .down_our_team .dificult center h3{
	color:#353537;
}
.our_team .down_our_team .dificult center p{
	color:#fff;
}



.clientes_bg{
	background:url("../img/clientes_bg.png")no-repeat;
	background-size:100% 100%;
}
.clientes{
	padding:50px 0px 30px 0px;
	display:black;
	overflow:hidden;
}
.clientes .top_clientes{
	border-left:2px solid #13B898;
	overflow:hidden;
	display:block;
	padding-left:20px;
	margin-bottom:90px;
}
.clientes .top_clientes h2{
	font-size:48px;
	color:#0cbf86;
	margin:0px;
}
.clientes .top_clientes p{
	font-size:18px;
	color:#454547;
	margin:5px 0px;
}
.clientes .down_clientes{
	display:block;
	overflow:hidden;
	width:100%;
	margin:0px;
}
.clientes .down_clientes .single_card{
	width:45.5%;
	overflow:hidden;
	background:url("../img/card_bg.png")no-repeat;
	background-size:100% 100%;
	float:left;
	padding:20px;
	display:block;
	margin:0px;
}
.clientes .down_clientes .single_card .img{
	float:left;
	width:20%;
	overflow:hidden;
	display:black;
}
.clientes .down_clientes .single_card .img img{
	margin:0 auto;
	width:100%;
	float:left;
	
}
.clientes .down_clientes .single_card .some_text{
	width:80%;
	overflow:hidden;
	display:block;
}
.clientes .down_clientes .single_card p{
	background: url("../img/card_p_bg.png")no-repeat;
	padding-left: 25px;
	padding-top: 30px;
	padding-right:20px;
	line-height:200%;
	font-size:14px;
	color:#5f5f5f;
	margin-right:30px;
}
.single_card center h3{
	font-size:26px;
	color:#353537;
	margin:0px;
}
.single_card center h4{
	font-size:16px;
	color:#0cbf86;
	margin-bottom:20px;
	font-weight:italic;
}
.clientes .down_clientes .float_right{
	float:right;
}

.clientes .down_clientes  .button_our_team{
	overflow:hidden;
	display:block;
	width:100%;
	padding:30px 0px;
	margin:20px 0px;
	padding-top:50px;
}
.clientes .down_clientes .button_our_team center a{
	border-radius:50%;
	margin:10px;
	padding:10px 20px;
}

.clientes .down_clientes center .prev{
	background:url("../img/prev.png")no-repeat;
}


.clientes .down_clientes center .prev:hover{
	background:url("../img/prev_hover.png")no-repeat;
}
.clientes .down_clientes center .next{
	background:url("../img/next.png")no-repeat;
}
.clientes .down_clientes center .next:hover{
	background:url("../img/next_hover.png")no-repeat;
}

.our_blog_bg{
	background:#F3F3F3;
}
.our_blog{
	padding:50px 0px 30px 0px;
	display:black;
	overflow:hidden;
}
.our_blog .top_our_blog{
	border-left:2px solid #13B898;
	overflow:hidden;
	display:block;
	padding-left:20px;
	margin-bottom:90px;
}
.our_blog .top_our_blog h2{
	font-size:48px;
	color:#0cbf86;
	margin:0px;
}
.our_blog .top_our_blog p{
	font-size:18px;
	color:#454547;
	margin:5px 0px;
}
.our_blog .down_our_blog{
	display:block;
	overflow:hidden;
	width:100%;
	margin:0px;
}
.our_blog .down_our_blog .single_card{
	width:370px;
	overflow:hidden;
	display:block;
	float:left;
	margin-right:30px;
	background:rgba(255,255,255,.5);
	box-shadow: 0px 4px 13px 0px rgba(89,89,89,.8);
}
.our_blog .down_our_blog .margin_right_zero{
	margin-right:0px;
}
.our_blog .down_our_blog .single_card img{
	display:block;
	opacity:.4;
}
.our_blog .down_our_blog .single_card h4{
	font-size:13px;
	color:#9e9e9e;
	background:url("../img/blog_icon.png")no-repeat;
	background-position:left center;
	padding-left:20px;
	margin:20px;
	float:left;
}
.our_blog .down_our_blog .single_card h5{
	font-size:13px;
	color:#9e9e9e;
	background:url("../img/blog_icon2.png")no-repeat;
	background-position:left center;
	padding-left:20px;
	margin:20px;
	float:left;
}
.our_blog .down_our_blog .single_card h6{
	font-size:13px;
	color:#9e9e9e;
	background:url("../img/blog_icon3.png")no-repeat;
	background-position:left center;
	padding-left:20px;
	margin:20px;
	float:left;
}
.our_blog .down_our_blog .single_card h2{
	color:#353537;
	font-size:22px;
	margin:20px;
	display:block;
}
.our_blog .down_our_blog .single_card p{
	color:#9e9e9e;
	font-size:14px;
	margin:25px;
	line-height:180%;
}
.our_blog .down_our_blog .single_card a{
	margin:30px;
	padding:12px 25px;
	color:#fff;
	font-size:11px;
	background:#13B898;
	border-radius:25px;
	display:inline-block;
}
.our_blog .down_our_blog .bottom{
	margin:40px;
	padding:16px 40px;
	color:#fff;
	font-size:11px;
	background:#13B898;
	border-radius:25px;
	display:inline-block;
}
.some_logo_bg{
	background:url("../img/some_logo_bg.png")no-repeat;
	background-size:100% 100%;
}
.some_logo{
	display:block;
	overflow:hiddenl;
	margin:90px 0px;
}
.some_logo ul{
	display:block;
	overflow:hidden;
}
.some_logo ul li{
	float:left;
	width:210px;
	overflow:hidden;
	margin-left:24px;
}
.some_logo ul li img{
	display:block;
}

.pricing_bg{
	background:#F5F5F5;
}
.clientes{
	padding:50px 0px 30px 0px;
	display:black;
	overflow:hidden;
}
.clientes .top_pricing{
	border-left:2px solid #13B898;
	overflow:hidden;
	display:block;
	padding-left:20px;
	margin-bottom:90px;
}
.clientes .top_pricing h2{
	font-size:48px;
	color:#0cbf86;
	margin:0px;
}
.clientes .top_pricing p{
	font-size:18px;
	color:#454547;
	margin:5px 0px;
}

.clientes .down_pricing{
	display:block;
	overflow:hidden;
	padding:20px 0px;
}
.clientes .down_pricing .single_pricing{
	width:370px;
	overflow:hidden;
	float:left;
	display:block;
	margin-right:30px;
	background:rgba(255,255,255,.5);
	box-shadow: 0px 4px 13px 0px rgba(89,89,89,.4);
	margin-bottom:30px;
}

.clientes .down_pricing .margn_right_zero{
	margin-right:0px;
}
.clientes .down_pricing .single_pricing center h2{
	font-size:32px;
	color:#353537;
	margin:30px 0px;
	margin-bottom:0px;
}
.clientes .down_pricing .single_pricing center p{
	font-size:14px;
	color:#353537;
	margin:0px;
}
.clientes .down_pricing .single_pricing center h1{
	font-size:20px;
	color:#353537;
	margin:40px 0px;
	border-top:1.5px solid #E0E0E0;
	border-bottom:1.5px solid #E0E0E0;
	padding:10px;
	display:block;
}
.clientes .down_pricing .dificult center h1{
	color:#0cbf86;
	border-top:1.5px solid #65D6B2;
	border-bottom:1.5px solid #65D6B2;
}
.clientes .down_pricing .single_pricing ul{
	overflow:hidden;
	margin:0 auto;
	
}
.clientes .down_pricing .single_pricing ul li{
	font-size:15px;
	color:#9b9a9a;
	display:block;
	line-height:45px;
	padding-left:30%;
}
.clientes .down_pricing .single_pricing center a{
	border-radius:25px;
	margin:10px;
	padding:10px 40px;
	background:#353537;
	color:#fff;
	font-size:13px;
	margin:30px;
	display:inline-block;
	box-shadow: 0px 2px 4px 0px #353537;
}
.clientes .down_pricing .dificult center a{
	background:#0CBF86;
	box-shadow: 0px 2px 4px 0px #0CBF86;
}

.loding_start_bg{
	background:url("../img/loding_start_bg.png")no-repeat;
	background-size:100% 100%;
}
.loding_start{
	padding:55px 0px 40px 0px;
	display:black;
	overflow:hidden;
}
.loding_start h2{
	color:#353537;
	font-size:48px;
	text-align:center;
}
.loding_start h3{
	color:#353537;
	font-size:24px;
	text-align:center;
}
.loding_start center .single_link{
	padding:10px 30px;
	color:#fff;
	font-size:18px;
	background:#0CBF86;
	display:inline-block;
	border-radius:25px;
	margin:40px 0px;
}
.loding_start .button_service{
	overflow:hidden;
	display:block;
	width:100%;
	padding:30px 0px;
	margin:20px 0px;
}



.loding_start .button_service center a{
	border-radius:50%;
	margin:10px;
	padding:10px 20px;
}

.loding_start .button_service center .prev{
	background:url("../img/prev.png")no-repeat;
}
.loding_start .button_service center .prev:hover{
	background:url("../img/prev_hover.png")no-repeat;
}
.loding_start .button_service center .next{
	background:url("../img/next.png")no-repeat;
}
.loding_start .button_service center .next:hover{
	background:url("../img/next_hover.png")no-repeat;
}

.contact_us_bg{
	background:#F1F3F4;
}
.contact_us{
	padding:50px 0px 30px 0px;
	display:black;
	overflow:hidden;
}
.contact_us .top_contact_us{
	border-left:2px solid #13B898;
	overflow:hidden;
	display:block;
	padding-left:20px;
	margin-bottom:90px;
}
.contact_us .top_contact_us h2{
	font-size:48px;
	color:#0cbf86;
	margin:0px;
}
.contact_us .top_contact_us p{
	font-size:18px;
	color:#454547;
	margin:5px 0px;
}

.contact_us .down_contact{
	display:block;
	overflow:hidden;
	
}
.contact_us .down_contact .single_contact{
	padding-top:50px;
	width:570px;
	height:530px;
	overflow:hidden;
	float:left;
	display:block;
	margin-right:30px;
	background:rgba(255,255,255,.5);
	box-shadow: 0px 4px 13px 0px rgba(89,89,89,.4);
	margin-bottom:30px;
}
.contact_us .down_contact .margin_right_zero{
	margin-right:0px;
}
.contact_us .down_contact .single_contact h2{
	color:#353537;
	font-size:30px;
	margin-left:30px;
}
.contact_us .down_contact .single_contact ul{
	float:left;
	width:45%;
	overflow:hidden;
	display:block;
	padding-left:5%;
	
}
.contact_us .down_contact .single_contact ul li{
	color:#717171;
	font-size:14px;
	margin-top:15px;
	padding:0px;
	padding-left:30px;
	padding-top:5px;
	padding-bottom:5px;
	background-position:left center;
}
.contact_us .down_contact .single_contact ul .icon{
	background:url("../img/contact_icon.png") no-repeat;
}.contact_us .down_contact .single_contact ul .icon2{
	background:url("../img/contact_icon2.png") no-repeat;
}
.contact_us .down_contact .single_contact ul .icon3{
	background:url("../img/contact_icon3.png") no-repeat;
}
.contact_us .down_contact .single_contact ul .icon4{
	background:url("../img/contact_icon4.png") no-repeat;
}
.contact_us .down_contact .single_contact ul li span{
	color:#0cbf86; 
}

.contact_us .down_contact .single_contact p{
	margin:30px;
	padding-top:30px;
	float:left;
	display:block;
	border-top:1px solid #C7D4E5;
	font-size:15px;
	color:#6d6d6d;
	line-height:28px;
	text-align:left;
	padding-right:12px;
}
.contact_us .down_contact .single_contact p span{
	color:#0cbf86;
}
.contact_us .down_contact .single_contact a{
	
	
	font-size: 13px;
    color: #ffffff;
	width:140px;
    background: #13B898;
    margin: 12px 0px 45px 35px;
    border-radius: 25px;
    display: inline-block;
	text-align:center;
	padding:12px 0px;
	text-align:center;
	width:140px;
}
.margin_right_zero h4{
	margin-left:30px;
	color:#6d6d6d;
	font-size:15px;
}
.contact_us .down_contact .margin_right_zero form{
	display:black;
	overflow:hidden;
	padding-left:30px;
	padding-right:50px;
}
.contact_us .down_contact .margin_right_zero form input{
	display:block;
	margin:15px 0px;
	width:100%;
	padding:10px 0px;
	border:none;
	border-bottom:1px solid #908D8D;
	color:#919192;
	background:none;
}
.contact_us .down_contact .margin_right_zero form .message{
	color:#0cbf86;
	background:none;
	width:100%;
	height:80px;
	border:none;
	padding-top:10px;
	margin-bottom:50px;
	border-bottom:1px solid #0cbf86;
}
.contact_us .down_contact .margin_right_zero form input[type="submit"],.contact_us .down_contact .margin_right_zero form input[type="reset"]{
	font-size: 13px;
    color: #ffffff;
	width:140px;
    padding: 12px 0px;
    background: #13B898;
    margin: 40px 0px;
    border-radius: 25px;
    display: inline-block;
	cursor:pointer;
	
	
}

.footer_bg{
	background:#fff;
}
footer{
	overflow:hidden;
	display:block;
	padding:40px 0px;
}

footer .icon a{
	
	background-position:center center;
	margin:10px;
	padding:0px 10px;
	display:inline-block;
	overflow:hidden;
	text-indent:-9999999px;
	
}
footer .icon .fb{
	background:url("../img/footer_icon_fb.png")no-repeat;
}
footer .icon .fb:hover{
	background:url("../img/footer_icon_fb_hover.png")no-repeat;
}
footer .icon .tw{
	background:url("../img/footer_icon_tw.png")no-repeat;
}
footer .icon .tw:hover{
	background:url("../img/footer_icon_tw_hover.png")no-repeat;
}
footer .icon .vid{
	background:url("../img/footer_icon_vid.png")no-repeat;
}
footer .icon .vid:hover{
	background:url("../img/footer_icon_vid_hover.png")no-repeat;
}
footer .icon .in{
	background:url("../img/footer_icon_in.png")no-repeat;
}
footer .icon .in:hover{
	background:url("../img/footer_icon_in_hover.png")no-repeat;
}
footer>.menu>a{
	margin:10px;
	font-size:20px;
	color:#353537;
	display:inline-block;
}
footer>.menu a:hover{
	color:#0cbf86;
}
footer .designer{
	margin:20px;
	font-size:16px;
	color:#353537;
	display:inline-block;
}
footer .designer:hover{
	color:#0cbf86;
}
